# Ignore working files
/lcv_log
/lcv_simlog
/app-template_host
/app-template_target

# Ignore generated binaries
*.[oa]
*.gdb

# Ignore files used by the build system
/doc
/.metadata
/.settings
/.config
/oscar
Makefile.deps
