body {
	font-family: Trebuchet MS, Helvetica, Sans;
	font-size: 14px;
	margin: 0px;
}

h3 {
	font-size: 16px;
	margin: 0px;
	margin-bottom: 16px;
}

.big-box {
	border-style: solid;
	border-width: 2px;
	border-color: red;
	padding: 8px;
	margin:8px;
}

#off {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	background-color: rgba(255, 255, 255, 0.75); 
}

#off span {
	margin: auto;
	display: table;
}

#off span > * {
	display: table-cell;
	vertical-align: middle;
	padding: 16px 8px;
}

#off .wheel {
	width: 32px;
	height: 32px;
	background-image: url("../imgs/wheel.png");
}

#off .title {
	font-size: 18px;
	font-weight: bold;
}

#off .message {
	font-size: 14px;
}

#off > * {
	border-style:solid;
	border-width: 2px;
	background-color: #eee;
	border-color: #555;
	padding: 10px;
	margin: auto;
	margin-top: 80px;
	width: 400px;
}

#lang-select {
	position: relative;
	right: 0px;
	top: -8px;
	float: right;
	padding: 8px 6px;
	background: #ddd;
	font-size: 16px;
}

#lang-select a {
	margin: 0px 5px;
}

#lang-select .active {
	color: black;
	font-weight: bold;
	text-decoration: none
}
